
#banner {
margin-top:100px;
padding-bottom:80%;
}

.heroimage {
    top: -20px;
    position: relative;
}

.section-padding {
    padding: 200px 0px 80px 0px ;
   
}



@media (max-width: 600px){
#banner .search_form {
    padding-left:15px !important;
    padding-right:15px !important;
}

.section-padding {
    padding: 80px 0px 80px 0px !important;
   
}

#banner {
    margin-top:100px!important;
    padding-bottom:380px !important;
    }
}

@media only screen and (max-device-width: 480px) {
   
    
    #banner .search_form {
    padding-left:15px !important;
    padding-right:15px !important;
    }
    }